body {
	margin-top: 20px;
	margin: 0 auto;
	width: 100%;
}

.carousel-inner .item img {
	width: 100%;
	height: 300px;
}
.row{
	padding:5px;
	text-align:center;
}
.col-md-2{
	height:250px;
	border:1px solid #E7E7E7 ;
	border-radius:5px;
	border-right:0;padding:0;
	margin: 17px;
}
.col-md-2:hover{
	border:3px solid #fd3005;
}
.plist{
	width: 1400px; 
	margin: 0 auto;
}
