<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- 设置listener监听，在web容器启动时自动装配ApplicationContext的配置信息-->  
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>



	<!-- [Spring Web] start -->
	<!-- 前端控制器    设置Spring容器加载配置文件路径  指定SpringMVC配置文件的位置 --> 
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
	</servlet>
	<!-- Ajax请求是.htm请求   .SpringMVC不会将数据转换为JSON数据 -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<!-- 拦截请求 -->  
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 注册验证码 -->
	<servlet>
   	 	<servlet-name>VerifyCodeServlet</servlet-name>
    	<servlet-class>com.gqz.shop.controller.VerifyCodeServlet</servlet-class>
    </servlet>
  	<servlet-mapping>
    	<servlet-name>VerifyCodeServlet</servlet-name>
    	<url-pattern>/VerifyCode</url-pattern>
  	</servlet-mapping>
	<!-- [Spring Web] end-->
	

	<!-- 编码过滤器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 欢迎页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
