<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqz.shop.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.gqz.shop.pojo.Orders" >
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    oid, total, ordertime, state, uid, status, number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gqz.shop.pojo.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gqz.shop.pojo.OrdersExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <!-- useGeneratedKeys="true" keyProperty="oid" 返回插入数据的主键key -->
  <insert id="insert" parameterType="com.gqz.shop.pojo.Orders" useGeneratedKeys="true" keyProperty="oid">
    insert into orders (oid, total, ordertime, 
      state, uid, status, 
      number)
    values (#{oid,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gqz.shop.pojo.Orders" useGeneratedKeys="true" keyProperty="oid">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="number != null" >
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gqz.shop.pojo.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.ordertime != null" >
        ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set oid = #{record.oid,jdbcType=INTEGER},
      total = #{record.total,jdbcType=DOUBLE},
      ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gqz.shop.pojo.Orders" >
    update orders
    <set >
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        ordertime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gqz.shop.pojo.Orders" >
    update orders
    set total = #{total,jdbcType=DOUBLE},
      ordertime = #{ordertime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  
  
  <!-- ordersList -->
  <resultMap id="OrdersPojoMap" type="com.gqz.shop.pojo.OrdersPojo" >
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="subtotal" property="subtotal" jdbcType="DOUBLE" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="new_price" property="newPrice" jdbcType="DOUBLE" />
    <result column="old_price" property="oldPrice" jdbcType="DOUBLE" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectOrdersPojoByUid" parameterType="Integer" resultMap="OrdersPojoMap" >
    select o.*, p.pid,  p.pname, p.image, p.new_price, oi.count, oi.subtotal from orders o 
  		left JOIN orderitem oi on o.oid=oi.oid  
  			left  JOIN product p on oi.pid=p.pid where o.uid =#{uid,jdbcType=INTEGER}
  </select>
  
</mapper>